<!DOCTYPE html>
<html>
  <head>
    <title><%= name %> tests</title>
    <meta charset="utf-8">
    <script src="../bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
    <script src="../bower_components/web-component-tester/browser.js"></script>
    <link rel="import" href="../src/<%= name %>.html">
  </head>
  <body>

    <test-fixture id="basic">
      <template>
        <<%= name %>></<%= name %>>
      </template>
    </test-fixture>

    <script>
      'use strict';

      suite('basic', function() {

        var app;
        setup(function() {
          app = fixture('basic');
        });

        test('it can instantiate', function() {
          assert.equal(app.is, '<%= name %>');
        });

      });

    </script>
  </body>
</html>
